<!DOCTYPE html>
<html>
  <head>
    <title>Subscriptions</title>

    <%= content_tag :style, nonce: style_nonce do %>
      body {
        padding: 20px;
        font-family: system-ui, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.4;
      }

      .container {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }

      button {
        cursor: pointer;
        font: inherit;
        padding: 5px 10px;
      }
    <% end %>
  </head>
  <body>
    <div class="container">
      <% if !subscribed? %>
        <p>You are unsubscribed.</p>
        <p><%= button_to "Resubscribe", subscribe_url %></p>
      <% else %>
        <% if unsubscribing? %>
          <p>Click the button below to confirm.</p>
        <% else %>
          <p>You are subscribed.</p>
        <% end %>
        <p><%= button_to "Unsubscribe", unsubscribe_url %></p>
      <% end %>
    </div>
  </body>
</html>
